.logo {
    color: "white";
    font-size: 26px;
    font-weight: "bold";
    width: 120px;
    height: 31px;
    margin: 0px 24px 16px 0;
    float: left;
}

.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

.ant-breadcrumb {
    padding-left: 55px;
}